.navbar{
    margin-bottom: 0px; 
}

body{
    background-image: url(subtle_grunge.png)   
}

.nav>li>a.navlink{
	background-color: #222;
	padding: 15px 8px;
	font-size: 13px;
}

@media (min-width: 992px){
	.nav>li>a.navlink{
		background-color: #222;
		padding: 15px 15px;
		font-size: 14px;
	}

}

/*.highcharts-container{
    background-color: #fff;
}*/

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.webcam{
    position: relative;
	display: block;
    width: 100%;
}

.webcam a{
    max-width: 432px;
    max-height: 324px;
    margin: 0 auto;
}
.webcam-console-container{
    height: 324px;
    width: 100%;
    position: relative;
}

.console-container{
    
}

@media (max-width: 400px) {
    .table-condensed>thead>tr>th, 
    .table-condensed>tbody>tr>th, 
    .table-condensed>tfoot>tr>th, 
    .table-condensed>thead>tr>td, 
    .table-condensed>tbody>tr>td, 
    .table-condensed>tfoot>tr>td{
        padding: 3px;
    }
}
@media (max-width: 767px) {
    .reading-group{
        position: static;
        margin: 0 auto 10px auto;
    }
}
@media (min-width: 768px) {
    .webcam-console-container{
        height: auto;
    }
	#phpinfo{
		display:  block;
	}
}
@media (max-width: 991px) {
    .hilo-inside{
        display: block;
    }
    .hilo-outside{
        display: none;
    }
}
@media (min-width: 992px) {
    .webcam-console-container{
        height: 432px;
    }
    .webcam{
        width: 432px;
        float: left;
    }
    .hilo-inside{
        display: none;
    }
    .hilo-outside{
        display: block;
    }
}
@media (min-width: 1200px) {

}

table.hilo,
table.hilo th{
    text-align: center;   
}

.row{
    background-color: rgba(254,254,254,0.95);
    padding: 5px;
    margin: 0;
}

.windrose{
    height: 300px;
}

.container-fluid{
    border: 1px solid #ddd;
    background-color: rgba(254,254,254,0.95);
    padding: 0;
}

.container-console{
    border: 0px;
    background-color: rgba(0,0,0,0);
}

#windTab,
#multiTab{
    z-index: 10;
    margin-bottom: -1px;
}

#windTab li,
#multiTab li{
    vertical-align: bottom;
}
ul#windTab>li.active>a,
ul#multiTab>li.active>a{
    background-color: rgba(254,254,254,0.95);
    border-bottom-color: rgba(254,254,254,0.95);
}

ul#windTab>li>a,
ul#multiTab>li>a{
    background-color: rgba(250,250,250,0.95);
}

footer{
    height: 100px;
    background-color: #222;
    border-color: #080808;
}

.alert-amber{
    background-color: #F7EBE1;
    color: #9A593F;
    border-color: #F3DCCF;
}

a.hidden{
	display: none;
}

.footer-container{
	padding-top: 35px;
	color: white;
	text-align: center;
}

.footer-container a{
	color: white;
}

#phpinfo{
	display:  none;
}