#console{
	position: initial !important;
	left: initial !important;
	top: initial !important;
	right: initial !important;
	bottom: initial !important;
	height: 350px;
	width: 520px;
}
.reading-group{
	width: 140px;
	background-color: #f4fcf0;
	position: absolute;
	border-radius: 0;
}

	.reading-value{
		font-size: 26px;
	}
	
	.unit-label{
		font-size: 22px;
	}
	
	.desc{
		font-size: 14px;
		position: relative;
	}
	
.outTemp-group{
	width: 200px;
	top: 20px;
	left: 470px;
}
	.outTemp-group .outTemp-value{
		font-size: 60px;
	}
	
	.outTemp-group .outTemp-unit{
		font-size: 50px;	
	}
	
	.outTemp-group .desc{
		top: -5px;
		font-size: 20px;
	}
	
	.feels-like-container{
		margin-top: -10px;
	}
		.feels-like-container  .reading-value{
			font-size: 20px;
		}
				.feels-like-container  .unit-label{
			font-size: 18px;
		}
	
.dewpoint-group{
	left: 460px;
	top: 150px;
}
.out-hum-group{
	width: 100px;
	left: 570px;
	top: 150px;
}
.bar-group{
	left: 500px;
	top: 230px;
}

.wind-group{
	top: 25px;
	left: 740px;
	height: 150px;
	width: 130px;
}
.compass{
	height: 130px
}	
	.compass svg{
		color: #686868;
		fill: #686868;
	}
.rain-group{
	left: 735px;
	top: 200px;
}

.last-update{
position: absolute;
top: -44px;
right: 70px;
font-size: 16px;
color: #f4fcf0;
}

.last-update span{
	color: #f4fcf0;
}

