
html{
	background-color: #f4fcf0;
}

body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif, Verdana, Geneva, sans-serif;
}

.container{
	width: 960px;
	margin: 10px auto 50px auto;
	position: relative;
	display: block;
}
.container:after{
    clear: both;
    content: "";
    display: block;
}

.hilo{
	float:left;
	margin-top: 20px;
}

.hilo-temp{
	float: left;
}

.hilo-wind{
	float: left;
	margin-left: 20px;
}

.weather-summary thead th{
	padding: 2px 10px;
}
.weather-summary tbody td{
	padding: 0 10px 3px 10px;
}

.webcam{
	display: block;
}

.console{
	float: right;
}
div.webcam {

}

div#timelapse{
	margin: 0 auto;
	top: 550px;
}