.reading-group{
	width: 140px;
	background-color: #f4fcf0;
	position: absolute;
	border-radius: 0;
}

	.reading-value{
		font-size: 26px;
	}
	
	.unit-label{
		font-size: 22px;
	}
	
	.desc{
		font-size: 14px;
		position: relative;
	}
	
.outTemp-group{
	width: 200px;
	top: 20px;
	left: 470px;
}
	.outTemp-group .outTemp-value{
		font-size: 60px;
	}
	
	.outTemp-group .outTemp-unit{
		font-size: 50px;	
	}
	
	.outTemp-group .desc{
		top: -15px;
		font-size: 20px;
	}
	
.dewpoint-group{
	left: 460px;
	top: 140px;
}
.out-hum-group{
	width: 100px;
	left: 570px;
	top: 140px;
}
.bar-group{
	left: 500px;
	top: 230px;
}

.wind-group{
	top: 25px;
	left: 740px;
	height: 150px;
	width: 130px;
}
.compass{
	height: 130px
}	
	.compass svg{
		color: #686868;
		fill: #686868;
	}
.rain-group{
	left: 735px;
	top: 200px;
}

.hilo-temp{
position: absolute;
top: 400px;
}

.hilo-wind{
position: absolute;
top: 400px;
left: 50%;
}

.last-update{
position: absolute;
top: -34px;
right: 70px;
font-size: 16px;
color: #f4fcf0;
}

.last-update span{
	color: #f4fcf0;
}

.weather-summary thead th{
	padding: 2px 10px;
}
.weather-summary tbody td{
	padding: 0 10px 3px 10px;
}

