
html{
	background-color: #f4fcf0;
}

body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif, Verdana, Geneva, sans-serif;
}

nav{
	height: 50px;
	width: 100%;
	background-color: #686868;
}
	nav a{
		display: block;
		color: #f4fcf0;
		text-decoration: none;
		height: 50px;
	}
	nav .navbar-container{
		width:  960px;
		height: 50px;
		margin: 0 auto;
	}
		nav div div{
			float: left;
		}
			nav div div a{
				font-size: 20px;
				line-height: 50px;
				font-weight: 500;
			}
		nav ul{
			float: left;
			margin: 0;
			padding: 0;
		}
			nav ul li{
				display: block;
				float: left;
				margin-right: 1px;
			}
				nav ul li.active{
					background-color: #5c5c5c;
				}
				nav ul li a{
					line-height: 50px;
					font-size: 18px;
					font-weight: 400;
					padding: 0 25px;
				}
				nav ul li a:hover{
					background-color: #757575;
				}
				
		div.container div.collapse{
			margin-left: 40px;
		}

.container{
	width: 960px;
	margin: 0 auto;
	position: relative;
}

	.reading-group{
		width: 200px;
		background-color: #f4fcf0;
		position: absolute;
		border-radius: 0;
	}
	
	.outTemp-group{
		top: 10px;
		left: 450px;
	}
	.dewpoint-group{
		left: 450px;
		top: 50px;
	}
	.wind-group{
		left: 700px;
		height: 100px;
		width: 100px;
	}
	.out-hum-group{
		left: 450px;
		top: 90px;
	}
	.bar-group{
		left: 450px;
		top: 150px;
	}
	.rain-group{
		left: 450px;
		top: 200px;
	}

.webcam{
	display: block;
}
div.webcam {
	position: absolute;
	top: 10px;
	left: 0px;
}

.hilo-temp{
	position: absolute;
	top: 400px;
}

.hilo-wind{
	position: absolute;
	top: 400px;
	left: 50%;
}