Options -Indexes

RewriteEngine On

RewriteBase /

## If the request is for a valid directory
RewriteCond %{REQUEST_FILENAME} -d [OR]
## If the request is for a valid file
RewriteCond %{REQUEST_FILENAME} -f [OR]
## If the request is for a valid link
RewriteCond %{REQUEST_FILENAME} -l
## don't do anything
RewriteRule ^ - [L]


RewriteRule ^([^/]+)/([^/]+)/?$ ?what=$1&amount=$2 [L,QSA]

RewriteRule ^([^/]+)/?$ ?what=$1&amount=1 [L,QSA]