Options -Indexes

RewriteEngine On

RewriteBase /
RewriteCond %{HTTP_HOST} ^vegard.me [NC]
RewriteCond %{HTTP_HOST} ^localhost [NC]
RewriteRule ^(.*)$ (http://)?(www.)?vegard.me$1 [L,R=301]
RedirectMatch 302 ^/joknuden/(.*)$ http://yr.vegard.me/$1

## If the request is for a valid directory
RewriteCond %{REQUEST_FILENAME} -d [OR]
## If the request is for a valid file
RewriteCond %{REQUEST_FILENAME} -f [OR]
## If the request is for a valid link
RewriteCond %{REQUEST_FILENAME} -l
## don't do anything
RewriteRule ^ - [L]


RewriteRule ^ytd/(.+)$ ytd/ [R,L,NC]

RewriteRule ^([^/]+)/([^/]+)/?$ ?what=$1&amount=$2 [L,QSA]

RewriteRule ^([^/]+)/?$ ?what=$1&amount=1 [L,QSA]

RewriteRule . / [L,R=301]
